.App {
    text-align: center;
}
.game-info .info-text {
    font-weight: 500;
    font-size: 1.2em;
}
/* For some reason these hr are not responding to bootstrap margin classes */
.game-info hr {
    margin-top: 0;
    margin-bottom: 0;
}
.game-info hr.line-top-margin {
    margin-top: 10px;
}

.key {
    border: 2px solid;
}
.key-space {
    content: "Space"
}