// CELL COLORS
//$empty-cell-color: #3f3e3e;
$empty-cell-color: #555755;
$I-color: #00b7b7;
$O-color: #F5FF00;
$T-color: #FF00FC;
$L-color: #FF8200;
$J-color: #5100FF;
$S-color: #00FF2E;
$Z-color: #FF0000;
$shadow-color: #363535;
$border-lighten-value: 10%;  // By how much lighter all piece borders should be


// PALETTE, 1 = lightest, 4 = darkest
$purple1: #CD88AF;
$purple2: #AA5585;
$purple3: #661141;
$purple4: #440026;

$green1: #D4EE9F;
$green2: #A5C663;
$green3: #567714;
$green4: #354F00;

