.tetris-row {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    /*margin: -0.78em 0;*/
    margin-bottom: -0.39em;
}

.tetris-game {
    white-space: pre;
    display: inline-block;
    padding: 2px;
    font-size: 1.5em;
}
