html, body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.dotted-border {
    border: 3px dashed black;
}
.cyan {
    background-color: cyan !important;
    /*border: 5px outset darkcyan;*/
    border: 1px solid black;
}
.block {
    width:1em;
    height:1em;
    padding: 0;
    margin: 0;
    background-color: darkslategray;
    display: inline-block;
    line-height: 1em;
}